{% assign tform = "scale(0.75)" %}
{% if (type_line contains "Battle") or (layout == 'split') %}
  {% if keywords contains 'Aftermath' %}
    {% assign tform = "scale(0.75)" %}
  {% else %}
    {% assign tform = "scale(0.70) rotate(90deg)" %}
  {% endif %}
{% endif %}

<div class="layout">
  <div class="column h--auto w--72"> 
      {% if card_faces and card_faces[0].image_uris %}
        {% assign png = card_faces[0].image_uris.png %}
      {% else %}
        {% assign png = image_uris.png %}
      {% endif %}
      <img class="image image-dither" style="transform: {{ tform }}" src="{{ png }}">
  </div>
  <div class="column w--auto">
  {% if card_faces %}
    <span class="bel title">{{ name }}</span>
    {% for card in card_faces %}
      {% render "card_face", name: card.name, mana_cost: card.mana_cost, type_line: card.type_line, oracle_text: card.oracle_text, flavor_text: card.flavor_text, power: card.power, toughness: card.toughness, loyalty: card.loyalty, artist: card.artist, faces: true %}
    {% endfor %}
  {% else %}
    {% render "card_face", name: name, mana_cost: mana_cost, type_line: type_line, oracle_text: oracle_text, flavor_text: flavor_text, power: power, toughness: toughness, loyalty: loyalty, artist: artist %}
  {% endif %}
    <span class="description clamp--none">{{ rarray[0]|upcase }} {{ cn }} / {{ set_name }} ({{ set | upcase }})
      <br><br> EDHRec Rank: {{ edhrec_rank }}
      <br> Price: ${{ prices.usd }} / €{{ prices.eur }} </span>
  </div>
</div>
{% render "postscript" %}
{% render "title_bar", trmnl: trmnl, instance: name %}