{% assign rbrace = "}" %}
{% assign lbrace = "{" %}
{% if power %}
  {% assign ptl = power | append: "/" | append: toughness %}
{% else %}
  {% if loyalty %}
    {% assign ptl = loyalty %}
  {% endif %}
{% endif %}

{% if card_faces %}
{% assign otext = card_faces[0].oracle_text | append: " // " | append: card_faces[1].oracle_text %}
{% else %}
{% assign otext = oracle_text %}
{% endif %}

<div class="layout">
  <div class="column">
    <span class="bel title title--small">{{ name }}  {{ mana_cost | replace: '/','' | replace: lbrace, "<abbr class='card-symbol card-symbol-" | replace: rbrace, "'></abbr>" }}</span>
    <span class="description clamp--none">{{ type_line }}</span>
    <span class="description clamp--none">{{ otext | replace: lbrace, "<abbr class='card-symbol card-symbol-" | replace: rbrace, "'></abbr>" | newline_to_br }}</span>
    <span class="bel title title--small clamp--none text--right">{{ ptl }}</span>
  </div>
</div>

{% render "postscript" %}