<div class="label">Weather report: {{ trmnl.plugin_settings.custom_fields_values.location }}</div>
<div class="flex flex--row flex--left">  
  {% render "condition", data: current_condition[0], current: true %}
</div>
<div class="label label--small">Location: {{ nearest_area[0].areaName[0].value }}, {{ nearest_area[0].region[0].value }}, {{ nearest_area[0].country[0].value }}[{{ nearest_area[0].latitude }},{{ nearest_area[0].longitude }}]