{%liquid
assign list_priority = trmnl.plugin_settings.custom_fields_values.list_priority
case list_priority
when "IDX_2"
assign data = IDX_2
when "IDX_1"
assign data = IDX_1
else
assign data = IDX_0
endcase
%}
{% template top_column %}
{% if height == empty %}
{% assign hvalue = "auto" %}
{% else %}
{% assign hvalue = height %}
{% endif %}
<div class="column" data-list-max-height="{{ hvalue }}" data-list-limit="true" data-list-hidden-count="false">
  <span class="label label--medium group-header" data-group-header="true">{% if add_label %}EDHRec Top Commanders {% endif %}{{ index.container.json_dict.cardlists[0].header }}</span>
  {% for cmdr in index.container.json_dict.cardlists[0].cardviews %}
  {% render "commander", commander: cmdr %}
  {% endfor %}
</div>
{% endtemplate %}

{% template commander %}
<div class="item">
  <div class="meta"></div>
  <div class="content">
    <div class="title title--small">{{ commander.name }}</div>
    <div class="label label--small label--underline">{{ commander.label }}</div>
  </div>
</div>
{% endtemplate %}

{% template title_bar %}
<div class="title_bar">
  <img class="image" src="https://svgs.scryfall.io/sets/cmd.svg">
  <div class="title">{{ trmnl.plugin_settings.instance_name }}</div>
</div>
{% endtemplate %}